# Խումբ 1․ Camera Client
requests>=2.31.0
opencv-python>=4.8.0

# Խումբ 2․ FastAPI Backend & Computer Vision
fastapi>=0.100.0
uvicorn>=0.22.0
pydantic>=2.0
python-multipart>=0.0.6

# Խումբ 3․ Analytics & Web Platform
pandas>=2.0.0
matplotlib>=3.7.0
streamlit>=1.25.0